body {
  height: 100vh;
  width: 100vw;
  #app {
    height: 100%;
    width: 100%;
    #app-container {
      height: 100%;
      width: 100%;
      #App {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.break {
  display: block;
  margin: 10px 0;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  display: none;
}

button:focus {
  outline: none;
}

.multiStream {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;

  .streamChannel {
    margin: 0 0 5px 5px;
    overflow-x: hidden;
    display: flex;
  }

  @media(max-width: 768px) {
    margin: 0 0 25px;
    .streamChannel {
      margin: 0 0 5px 0;
    }
  }

}

// loadingScreen

.aniText {
  font-size: 50px;
  @media(max-width: 768px) {
    font-size: 24px;
  }
}
